<form class="application-dialog-form-container">
  <div class="app-name-and-symbol-wrapper">
    <span class='p-field app-name-input-wrapper'>
      <label for='app-name-input'>Application Name:</label>
      <input type='text' id='app-name-input' pInputText placeholder='Application name'/>
    </span>

    <span class='p-field app-symbol-input-wrapper'>
      <label for='app-symbol-input'>Application Symbol:</label>
      <input type='text' id='app-symbol-input' pInputText placeholder='Application symbol'/>
    </span>
  </div>

  <span class='p-field app-short-des-input-wrapper'>
      <label for='app-short-des-input'>Application Short Description:</label>
      <input type='text' id='app-short-des-input' pInputText placeholder='Application short description'/>
    </span>

  <span class='p-field app-des-input-wrapper'>
      <label for='app-des-input'>Application Description:</label>
      <textarea pInputTextarea id='app-des-input' placeholder='Application description' [autoResize]="true"
                [rows]="4"></textarea>
  </span>

  <div class="app-logo-input-and-upload-wrapper">
    <span class='p-field app-logo-input-wrapper'>
    <label for='app-logo-cid-input'>Application Logo:</label>
    <input type='text' id='app-logo-cid-input' pInputText readonly placeholder='Application Logo CID'/>
    <input type='file' pInputText/>
  </span>
    <button pButton class="p-button-outlined upload-to-ipfs-btn">Upload this logo to IPFS</button>
  </div>

  <div class="action-btn-groups">
    <button pButton class="reset-button p-button-outlined" label="Reset"></button>
    <button pButton class="save-button" label="Save"></button>
  </div>

</form>
