<form class="application-dialog-form-container" [formGroup]="applicationFormGroup" (ngSubmit)="onSaveButtonClicked()">
  <div class="app-name-and-symbol-wrapper">
    <span class='p-field app-name-input-wrapper'>
      <label for='app-name-input'>Application Name<span>*</span>:</label>
      <input type='text' id='app-name-input' formControlName="name" pInputText placeholder='Application name'/>
    </span>

    <span class='p-field app-symbol-input-wrapper'>
      <label for='app-symbol-input'>Application Symbol <span>*</span>:</label>
      <input type='text' id='app-symbol-input' formControlName="symbol" pInputText placeholder='Application symbol'/>
    </span>
  </div>

  <span class='p-field app-short-des-input-wrapper'>
      <label for='app-short-des-input'>Application Short Description:</label>
      <input type='text' id='app-short-des-input' formControlName="shortDescription" pInputText
             placeholder='Application short description'/>
    </span>

  <span class='p-field app-des-input-wrapper'>
      <label for='app-des-input'>Application Description:</label>
      <textarea pInputTextarea id='app-des-input' formControlName="description" placeholder='Application description'
                [autoResize]="true"
                [rows]="4"></textarea>
  </span>

  <div class="app-logo-input-and-upload-wrapper">
    <span class='p-field app-logo-input-wrapper'>
    <label for='app-logo-cid-input'>Application Logo<span>*</span>:</label>
    <input type='text' id='app-logo-cid-input' formControlName="logoCid" pInputText readonly
           placeholder='Application logo CID'/>
    <input type='file' (change)="onLogoFileChanged($event)" pInputText/>
  </span>
    <button pButton class="p-button-outlined upload-to-ipfs-btn" (click)="onUploadLogoToIpfsButtonClicked()"
            type="button">Upload this logo to IPFS
    </button>
  </div>

  <div class="action-btn-groups">
    <button pButton class="reset-button p-button-outlined" type="button" label="Reset"
            (click)="onResetButtonClicked()"></button>
    <button pButton class="save-button" type="submit" label="Save"></button>
  </div>

</form>
