<form class="application-dialog-form-container" [formGroup]="applicationFormGroup" (ngSubmit)="onSaveButtonClicked()">
  <p class="title-section">Application System</p>
  <div class="app-name-and-symbol-wrapper">
    <span class='p-field app-name-input-wrapper'>
      <label for='app-name-input'>Application Name<span>*</span>:</label>
      <input type='text' id='app-name-input' formControlName="name" pInputText placeholder='Application name'/>
    </span>

    <span class='p-field app-symbol-input-wrapper'>
      <label for='app-symbol-input'>Application Symbol <span>*</span>:</label>
      <input type='text' id='app-symbol-input' formControlName="symbol" pInputText
             placeholder='Application symbol'/>
    </span>
  </div>

  <p class="title-section">Application Metadata</p>
  <span class='p-field app-publisher-name-wrapper'>
    <label for='app-metadata-cid'>Metadata CID:</label>
    <input type='text' id='app-metadata-cid' formControlName="metadataCid" pInputText
           placeholder='Application metadata CID'/>
  </span>

  <span class='p-field app-publisher-name-wrapper'>
    <label for='app-publisher-name-input'>Publisher Name:</label>
    <input type='text' id='app-publisher-name-input' formControlName="publisherName" pInputText
           placeholder='Application publisher name'/>
  </span>

  <span class='p-field app-short-des-input-wrapper'>
    <label for='app-short-des-input'>Application Short Description:</label>
    <input type='text' id='app-short-des-input' formControlName="shortDescription" pInputText
           placeholder='Application short description'/>
  </span>

  <span class='p-field app-des-input-wrapper'>
    <label for='app-des-input'>Application Description:</label>
    <textarea pInputTextarea id='app-des-input' formControlName="description" placeholder='Application description'

              [rows]="4"></textarea>
  </span>

  <div class="app-logo-input-and-upload-wrapper">
    <span class='p-field app-logo-input-wrapper'>
      <label>Application Logo<span>*</span>:</label>
      <p-fileUpload accept="image/*" [auto]="true" [customUpload]="true" [multiple]="false"
                    (uploadHandler)="onLogoFileChanged($event)"></p-fileUpload>
    </span>
  </div>
  <button pButton class="p-button-outlined upload-metadata-to-ipfs"
          (click)="onUploadMetadataToIpfsButtonClicked()"
          type="button">Upload metadata to ipfs
  </button>

  <div class="action-btn-groups">
    <button pButton class="reset-button p-button-outlined" type="button" label="Reset"
            (click)="onResetButtonClicked()"></button>
    <button pButton class="save-button" type="submit" label="Save"></button>
  </div>

</form>
