<div class="application-detail-page-container" *ngIf="application">
  <div class="app-general-container">
    <img [src]="AppSrcAssetsConstant.EMPTY_LOGO_APP_CARD" alt="app-logo" class="app-logo">
    <div class="general-info">
      <p class="app-name">{{application.name}}</p>
      <p class="app-address">
        <span class="app-address-label">Address:</span>
        <span class="app-address-value">{{application.address}}</span>
      </p>
      <p class="app-version">Version: {{application.version}}</p>
      <p class="app-short-description">{{application.shortDescription}}</p>
      <p class="app-publish-on"><em>Publish on: {{application.publishOn}}</em></p>
    </div>
  </div>

  <div class="app-detail-container">
    <p-tabView #tabView (onChange)="onTabChanged($event)" [(activeIndex)]="selectedTabIndex">
      <p-tabPanel header='Overview'>
        <div class="overview-tabview">
          <p class="app-description">
            <span class="label">Description Application:</span>
            <span class="value">{{application?.description}}</span>
          </p>
          <div class="app-license">
            <p class="label">License Description:</p>
            <div class="list-container">
              <app-license-card-description *ngFor="let license of Object.values(application.licenses) ?? []"
                                            [item]="license">
              </app-license-card-description>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header='License Market'>
        <div class="license-market-tabview">
          <app-searchbar [size]="SizeEnum.SMALL" (keywordChangedEmitter)="search($event)"></app-searchbar>
          <div class="list-container">
            <app-license-card-market *ngFor="let license of licenseFiltered ?? []"
                                     [item]="license">
            </app-license-card-market>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
