<div class="your-application-page-container">
  <app-searchbar (keywordChangedEmitter)="search($event)"
                 placeholder="Search by application name, symbol, address, description, publisher or version"></app-searchbar>
  <button pButton
          class="create-new-application"
          label="Create your new application"
          (click)="onCreateApplicationButtonClicked()">
  </button>
  <div class="application-list-container">
    <app-application-card-own *ngFor="let application of applicationsFiltered" [item]="application">
    </app-application-card-own>
  </div>
</div>
