@import "src/variables";

:host ::ng-deep .license-card-own-container .p-card {
  box-shadow: 0 0 1.5px 0 rgba(0, 0, 0, 0.045), 0 0 8.5px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid $color-border-gray;
  border-radius: 8.5px;
  cursor: pointer;
  width: 200px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.25, 1);

  .p-card-body {
    padding: 0;

    .p-card-content {
      @include set-flex(column, flex-start, flex-start);
      padding: 10px;

      .app-name {
        width: 180px;
        font-family: $font-family-tertiary;
        color: $color-primary-dark;
        font-size: 13.5px;
        font-weight: bold;
        text-transform: capitalize;

        @include ellipsis(1);
      }

      .app-logo {
        margin-top: 7.5px;
        align-self: stretch;
        width: 180px;
        height: 100px;
        border-radius: 4.5px;
      }

      .app-address, .license-address {
        margin-top: 8.5px;
        color: $color-primary-dark;

        &-label {
          display: block;
          font-family: $font-family-tertiary;
          font-size: 12px;
        }

        &-value {
          width: 180px;
          display: block;
          font-family: $font-family-mono;
          font-size: 12px;
          word-wrap: break-word;
        }
      }

      .license-price {
        margin-top: 8.5px;
        font-family: $font-family-mono;
        font-size: 16px;
        font-weight: bold;
        color: $color-danger;

        img {
          height: 20px;
          width: auto;
          margin-right: 15px;
        }
      }

      .license-type {
        font-family: $font-family-primary;
        font-size: 14px;
        background: $color-primary-light;
        margin-top: 5px;
        padding: 2.5px 20px;
        border-radius: 3.5px;
        color: $color-on-primary;
        font-weight: bold;
      }

      .license-updated-on {
        font-family: $font-family-primary;
        font-size: 10.5px;
        margin-top: 6.5px;
        align-self: flex-end;
        color: $color-on-background-gray-light;
      }
    }

    .action-group {
      margin-top: 8.5px;
      align-self: stretch;
      @include set-flex(row, flex-start, flex-start);

      .base-button {
        font-family: $font-family-tertiary;
        font-size: 12.5px;
        border-radius: 4.5px;
        padding: 7.5px;

        &:active {
          @include outline-focus($color-focus-gray);
        }

        &:not(:last-child) {
          margin-right: 5.5px;
        }
      }

      .view-detail-button {
        @extend .base-button;
        color: $color-on-background-gray-dark;
        flex: 1;

        &:hover {
          background-color: #5d5d5d;
          color: #fff;
        }
      }

      .withdraw-button {
        @extend .base-button;
        background: $color-danger;
        flex: 1;

        &:hover {
          background-color: #8d1b1b;
          color: #fff;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0 0 1.5px 0 rgba(0, 0, 0, 0.085), 0 0 8.5px 0 rgba(0, 0, 0, 0.15);
    border-color: $color-border-gray-dark;
  }
}
