@import "~src/variables";

:host ::ng-deep .license-dialog-form-container {
  @include set-flex(column, flex-start, stretch);
  font-family: $font-family-tertiary;

  .title-section {
    font-family: $font-family-tertiary;
    font-size: 14.5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0c5460;
  }

  .base-button {
    font-family: $font-family-tertiary;
    font-size: 12.5px;
    border-radius: 5px;

    &:active {
      @include outline-focus($color-focus-gray);
    }

    &:not(:last-child) {
      margin-right: 5.5px;
    }
  }

  .license-name-and-symbol-wrapper, .license-logo-input-and-upload-wrapper, .license-price-and-selling-wrapper {
    @include set-flex(row, space-between, flex-start);

    & > *:not(:last-child) {
      margin-right: 15px;
    }

    .license-name-input-wrapper {
      flex: 8;
    }

    .license-logo-input-wrapper {
      flex: 9;
    }

    .license-price-input-wrapper {
      flex: 7;
    }

    .license-symbol-input-wrapper {
      flex: 4;
    }

    .upload-to-ipfs-btn {
      flex: 3;
    }

    .license-selling-input-wrapper {
      flex: 5;
      align-self: flex-end;
    }

    .upload-to-ipfs-btn {
      align-self: flex-end;
      margin-bottom: 22.5px;
    }
  }

  .license-selling-input-wrapper {
    align-self: flex-start;
    @include set-flex(row, flex-end, center);

    & > * {
      display: inline-block !important;
      width: auto !important;
    }

    #license-selling-input {
      width: 45px;
      margin-left: 15px;
    }
  }

  .p-field {
    margin-bottom: 22.5px;

    & > * {
      display: block;
      width: 100%;
    }

    label {
      margin-bottom: 2.5px;
      font-size: 13.5px;
      color: $color-on-background-gray-dark;

      span {
        font-weight: bold;
        color: $color-danger;
        display: inline;
      }
    }

    input, textarea {
      padding: 10.5px 15px;
      font-size: 15px;
      background: rgba(245, 245, 245, 0.8);
    }

    .p-dropdown {
      width: 100%;
      background: rgba(245, 245, 245, 0.8);
    }
  }

  .upload-to-ipfs-btn, .upload-metadata-to-ipfs {
    @extend .base-button;
    color: $color-primary;

    &:hover {
      background-color: $color-primary-mask;
      color: #fff;
    }
  }

  .p-fileupload-choose {
    @include set-flex(row, center, center);
    font-family: $font-family-tertiary;
    font-size: 12.5px;
    border-radius: 5px;
    background: $color-primary;
  }

  .p-fileupload-row {
    font-family: $font-family-tertiary;
    font-size: 12.5px;

    .p-fileupload-filename {
      padding: 0 8px;
    }

    .p-component.p-button-icon-only {
      @include set-flex(row, center, center);
      font-family: $font-family-tertiary;
      font-size: 12.5px;
      border-radius: 5px;
      background: $color-primary;

      .p-button-label {
        display: none;
      }
    }
  }


  .upload-metadata-to-ipfs, p-fileUpload {
    width: initial !important;
    align-self: flex-start;
    max-width: 300px;
  }

  #license-logo-cid-input {
    margin-bottom: 15px;
  }

  .action-btn-groups {
    align-self: flex-end;

    .reset-button {
      @extend .base-button;
      color: $color-on-background-gray-dark;

      &:hover {
        background-color: #5d5d5d;
        color: #fff;
      }
    }

    .save-button {
      @extend .base-button;
      background-color: $color-primary;
      flex: 1;

      &:hover {
        background-color: $color-primary-overlay;
      }
    }
  }
}
