@import "~src/variables";

:host {
  flex: 1;
  @include set-flex(column, center, stretch);
}

:host ::ng-deep .app-container {
  flex: 1;
  @include set-flex(column, center, stretch);

  .supported-container {
    flex: 1;
    @include set-flex(column, flex-start, stretch);

    app-navbar {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
    }

    .main-container {
      flex: 1;
      @include set-flex(column, center, center);
      margin-top: $app-navbar-height;
      background-color: $color-background-gray;
      padding: 0 25px;

      app-loading-progress-bar {
        z-index: 9;
        position: fixed;
        top: $app-navbar-height;
        width: 100%;
      }

      .breadcrumb {
        align-self: stretch;

        .p-breadcrumb {
          margin-top: 15px;
          border: 0;
          padding: 5px;
          background-color: transparent;
          font-size: 15px;
          font-family: $font-family-primary;

          .p-menuitem-icon, .p-menuitem-icon::before, .p-menuitem-text, .p-menuitem-text::before {
            color: $color-on-background-gray;

            &:hover {
              color: $color-on-background-gray-dark;
              font-weight: bold;
            }
          }
        }
      }

      app-user-account-panel {
        align-self: flex-end;
      }
    }
  }

  .connect-your-metamask-account {
    flex: 1;
    @include set-flex(column, center, center);

    .connect-your-metamask-waiting {
      max-width: 300px;
      height: auto;
    }

    .oops {
      font-size: 24px;
      font-family: $font-family-primary;
      font-weight: 500;
      color: $color-danger;
    }

    .connect-des {
      font-family: $font-family-primary;
      text-align: center;
      font-size: 16px;
      color: $color-on-background-gray-light;
      margin: 0 0 5px;
    }
  }

  .unsupported-container {
    flex: 1;
    display: none;
  }
}

@media screen and (max-width: map-get($container-max-widths, md)) {
  .app-container {
    .supported-container {
      display: none;
    }

    .unsupported-container {
      @include set-flex(column, center, stretch);
    }
  }
}


