<p-card class="app-card-own-container">
  <p class="app-name">{{item.name}}</p>
  <img [src]="IpfsUtil.cidToLink(item.cid)" class="app-logo" alt="app-logo-card">
  <p class="app-address">
    <span class="app-address-label">Address:</span>
    <span class="app-address-value">{{item.address}}</span>
  </p>
  <p class="app-version">Version: {{item.version}}</p>
  <p class="app-short-description">{{item.shortDescription}}</p>
  <p class="app-number-of-license">
    <span class="app-number-of-license-label">&#9940; Number of license: </span>
    <span class="app-number-of-license-value">{{getMyRemainLicense() + '/' + getMyTotalLicense()}}</span>
  </p>
  <p class="app-publish-on"><em>Publish on: {{moment(item.publishOn).format("DD/MM/YYYY")}}</em></p>
  <div class="action-group">
    <button pButton class="view-detail-button p-button-outlined" (click)="onViewDetailButtonClicked()">View Detail
    </button>
    <button pButton class="view-license-button" (click)="onViewLicenseButtonClicked()">View License</button>
  </div>
</p-card>

